<h2>Profle for <%= @user.username %></h2>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<% if current_user != nil %>
	<% if @user.id == current_user.id %>
		<p> This is you! </p>
	<% elsif @user.followers.find_by(follower_id: current_user.id) == nil %>
		<form action="/users/<%= @user.id %>/followers/<%= current_user.id %>" method="post">
			<input type="submit" value="Follow">
		</form>
	<% else %>
		<p>You are following <%= @user.username %></p>
		<form action="/users/<%= @user.id %>/followers/<%= current_user.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Unfollow">
		</form>
	<% end %>	
<% end %>

<% if current_user != nil %>
	<br><% if @user.id == current_user.id %>
		<a href="/users/<%= current_user.id %>/edit">Edit your profile</a>
	<% end %>
<% end %>

<p>Tweets:</p>

<% if @user.tweets != nil %>
	<table>
		<% @user.tweets.all.each do |tweet| %>
		<tr>
			<td><%= tweet.description %></td>
			<td>
				<% if current_user != nil %>
					<% if tweet.user_id == current_user.id %>
						<a href="/tweets/<%= tweet.id %>/edit">Edit tweet</a>
					<% end %>
				<% end %>
			</td>
			<td>
				<% if current_user != nil %>
					<% if tweet.user_id == current_user.id %>
						<form action="/tweets/<%= tweet.id %>" method="post">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" value="Delete">
					<% end %>
				<% end %>
			</td>			
		</tr>
		<% end %>
	</table>
<% else %>
	<p><%= @user.username %> has no tweets yet.</p>
<% end %>

<p>Followers:</p>
<% followers = Follower.where(user_id: @user.id).all %>
<% if followers.count > 0 %>
	<p><%= @user.username %> has <%= followers.count %> followers</p>
	<% followers.each do | follower | %>
		<p><a href="/users/<%= follower.follower_id %>"><%= User.find_by_id(follower.follower_id).username %></a></p>
	<% end %>
<% else %>
	<p><%= @user.username %> has no follower.</p>
<% end %>

<p>Followings:</p>
<% followings = Follower.where(follower_id: @user.id).all %>
<% if followings.count > 0 %>
	<p><%= @user.username %> is following <%= followings.count %> people</p>
	<% followings.each do | following | %>
		<p><a href="/users/<%= following.user_id %>"><%= User.find_by_id(following.user_id).username %></a></p>
	<% end %>
<% else %>
	<p><%= @user.username %> is not following anyone.</p>
<% end %>