<h2>Profle for <%= @user.username %></h2>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<% if current_user != nil %>
	<% if @user.followers.find_by(follower_id: current_user.id) == nil %>
		<form action="/users/<%= @user.id %>/followers/<%= current_user.id %>" method="post">
			<input type="submit" value="Follow">
		</form>
	<% else %>
		<p>You are following <%= @user.username %></p>
	<% end %>	
<% end %>


<p>Tweets:</p>

<% if @user.tweets != nil %>
	<table>
		<% @user.tweets.all.each do |tweet| %>
		<tr>
			<td><%= tweet.description %></td>
			<td>
				<% if current_user != nil %>
					<% if tweet.user_id == current_user.id %>
						<a href="/tweets/<%= tweet.id %>/edit">Edit tweet</a>
					<% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
<% else %>
	<p><%= @user.username %> has no tweets yet.</p>
<% end %>

<% if current_user != nil %>
	<br><% if @user.id == current_user.id %>
		<a href="/users/<%= current_user.id %>/edit">Edit your profile</a>
	<% end %>
<% end %>